{# Carega os arquivos staticos (css, js, etc...) #}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Tarefas</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'tarefas/css/materialize.min.css' %}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <nav class=" red lighten-1">
            <div class="nav-wrapper">
                <a href="{% url 'tarefas:index' %}" class="brand-logo">Tarefas</a>
                <ul class="right">
                    <li><a href="{% url 'tarefas:adicionar' %}"><i class="material-icons left">add</i>Adicionar</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
           <div class="row">
               {% for tarefa in tarefas %}
                   <div class="col s6">
                        <div class="card blue darken-3">
                            <div class="card-content white-text">
                                <span class="card-title">{{ tarefa.nome }}</span>
                                <p>{{ tarefa.descricao }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'tarefas:editar' tarefa.id %}">Editar</a>
                                <a href="{% url 'tarefas:remover' tarefa.id %}">Excluir</a>
                            </div>
                        </div>
                   </div>
               {% endfor %}

           </div>
        </div>

        <script type="text/javascript" src="{% static 'tarefas/js/materialize.min.js' %}"></script>
    </body>
</html>